/* common styles */

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    height: 48px;
    font-weight: 700;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: darkgoldenrod;
}
* {
    margin: 0;
    /* border: 1px solid black; */
}
.section-title {
    font-size: 42px;
    font-weight: bold;
    margin: 30px 0;
}
.section-text {
    font-size: 24px;
    margin: 30px 0;
    color: rgba(37, 36, 50, 0.5);
}


/* banner styles */
.banner {
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
}
.upper-banner-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.logo img {
    width: 300px;
}
.banner-text {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 50px;
}
.lower-banner-container button {
    margin-bottom: 150px;
}


/* action styles   */
.action {
    display: flex;
    justify-content: space-between;
    margin: 115px 140px;
}
.action img {
    border-radius: 50px;
}