/* common styles */
body {
    background-color: #F5F8FF;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    height: 48px;
    font-weight: 700;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: darkgoldenrod;
}
* {
    margin: 0;
    /* border: 1px solid black; */
}
.section-title {
    font-size: 42px;
    font-weight: bold;
    margin: 30px 0;
}
.section-text {
    font-size: 24px;
    margin: 30px 0;
    color: rgba(37, 36, 50, 0.5);
}


/* banner styles */
.banner {
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
}
.upper-banner-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.logo img {
    width: 300px;
}
.banner-text {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 50px;
}
.lower-banner-container button {
    margin-bottom: 150px;
}


/* action styles   */
.action {
    display: flex;
    justify-content: space-between;
    margin: 115px 140px;
}
.action img {
    border-radius: 50px;
}

/* productive users styles */
.productive-user {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    text-align: center;
    padding: 30px 140px ;
    margin: 0 140px;
}
.stats {
    display: flex;
    justify-content: space-around;
}
.stat-title {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}

/* review section styles */
.reviews {
    text-align: center;
    margin: 130px 150px;
}
.reviews-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 20px;
}
.review {
    padding: 24px;
    background-color: #FFF;
    box-shadow: 5px 5px 10px lightblue;
    border-radius: 15px;
    width: 30%;
}
.stars {
    background-image: url("../assets/icon-star.png");
    width: 90px;
    border: none;
    margin-bottom: 25px;
}
.review-title {
    font-size: 24px;
    font-weight: 600;
}
.review-text {
    font-size: 16px;
    margin-bottom: 20px;
}
.reviewer-profile {
    display: flex;
    /* width: 4px; */
}
.reviewer-profile img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.review-info {
    margin-left: 10px;
}
.reviewer-name {
    font-size: 16px;
    color: #757575;
    font-weight: 600;
}
.review-date {
    color: #B3B3B3;
    font-size: 16px;
}